Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {  text-decoration: none; 
    color: rgb(147, 160, 255); 

  }
ul,
ol,
li {  list-style: none;   }
img {  vertical-align: top;    }
h1, h2, h3, h4, h5, h6 {  font-weight: inherit;
      font-size: inherit;     }
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0px;
    background-color: rgb(10, 10, 10);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.language{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5vw;
    width: 65px;
    height: 40px;
    z-index: 2;
    margin-top: 15.5px;
}
.language:hover{
    overflow: visible;
    background-color: rgba(29, 29, 29, 0.726);
    width: 65px;
    height: 80px;
}
.language p{
    cursor: default;
    margin: 7px 7px 7px 7px;
    padding-top: 3px;
    padding-left: 1px;
    border-radius: 5px;
    color: rgb(204, 204, 204);
    width: 35px;
    height: 22px;
    background-color: rgb(26, 26, 26);
    border: solid 1px rgba(83, 83, 83, 0.493);
    font-size: 18px;
    z-index: 5;
}
.language1{
    
}
.language2 p{
    margin-top: 10px;
}
.language2:hover{
    opacity: 1;
    background-color: rgba(44, 44, 44, 0.315);
    border: solid 1px rgb(143, 143, 143);
    color: rgb(255, 255, 255);
}
.language2 p:hover{
    cursor: pointer;
    opacity: 1;
    background-color: rgba(44, 44, 44, 0.315);
    border: solid 1px rgb(143, 143, 143);
    color: rgb(255, 255, 255);
}
.arrow {
    /* background: url(../img/arrow_down.svg); */
    cursor: default;
    margin-left: 48px;
    margin-top: -32px;
    position: absolute;
    color: rgb(204, 204, 204);
    font-size: 18px;
    z-index: 333;
}
/* =================== */
.header__menu{
    /* margin-left: 5vh; */
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    display: flex;  
    align-items: center;
    position: relative;
    }
    .header_list{
      font-family:'Nunito', sans-serif;
      display: flex;
      position: relative;
      z-index: 55;
      margin: 0;
      margin-left: -9px;
    }
    .header_list li{
        list-style: none;
        padding: 0;
        margin: 0px 0px 0px 0px;
         align-items: center;
    }
   
   
    
    /* ТЕКСТ В ВЕРХНЕМ МЕНЮ */
    
     .butoon:hover, .button_top_faq:hover{
      color: #ffffff;
     }
    .button_home, .button_bottom_faq_now, .button_bottom_faq, .button_home2{
        position: absolute;
        opacity: 0;
        font-size: 0px;
    }
    .button_home_now{
      
        font-size: 0px;
    }

    .button p:hover{
      /* color: #ffffff; */
      font-size: 17px;
    }
    .header__link{
      color: white; 
 
      font-size: 16px;
      text-decoration: none;
    }
    /* .header__link_home{
        margin-left: -16px;
        opacity: 0;
    } */

   

    .btn-group{
    z-index: 5;
    display: flex;
    margin-left: auto;
    margin-right: auto;
   position: relative;
    padding: 0px;
    align-items: center;
    }
    
  .btn-group .button:hover {
      background-color: #33333300/*#12b500*//*#3d006b*//*#ff005d #3e8e41*/;
      z-index: 77;
    color: #ffffff;
    }
  .btn-group .button:active {
  background-color: rgba(0, 0, 0, 0);
  color: ;
  }
  /*-------------------------------------------*/


/* =================================== */



.blur_header{
    position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2vh);
  /* background-color: rgba(20, 20, 20, 0.7); */
  top: 0;
  left: 0;
  z-index: 222;
}


.header {
 
  margin-top: -1px;
    backdrop-filter: blur(2vh);
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 70px;
    /* background-color: rgba(30, 36, 48, 0.521); */
    z-index: 3;
    border-bottom: solid 1px rgba(78, 78, 78, 0.315);
    box-shadow: 0px 50px 40px 0px rgb(0, 14, 26) inset;
    z-index: 22;
}
.header_menu{
 
    display: flex;
    text-align: center;
 
    top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1450px;
    height: 60px;
    z-index: 3;
}

.header_menu h1 {
    
    margin-top: 5px;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    color: rgba(131, 164, 255, 0.404);
    text-align: center;
    padding: 9px;
    width: 270px;
    margin-right: -40px;
}
.header_menu h1:hover {
    margin-left: 0px;
    margin-top: 5px;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    color: rgba(138, 169, 255, 0.459);
    text-align: center;
    padding: 9px;
    width: 270px;
}
.header_menu h2 {
    margin-left: 110px;
    margin-top: 5px;
    position: absolute;
    font-weight: 900;
    font-size: 28px;
    color: rgba(131, 164, 255, 0.404);
    text-align: center;
    padding: 9px;
}




.home{
    cursor: default;
}


 .download{
    display: flex;
    padding: 0px 15px 0px 15px;
    position: absolute;
    margin-left: 46.5vw;
    padding-top: 25px;
    height: 45px;
    transition: 0.2s; 
 }



/* ============================================ */


.left_block{
    top: 10vh;
    position: absolute;
    height: 50vh;
    width: 50vw;
    box-shadow: 10vw 0vw 20vw 4vw rgba(0, 13, 189, 0.233) inset;
    filter: blur(112px);
    z-index: 0;
}
.right_block{
    top: 30vh;
    right: 0;
    position: absolute;
    height: 50vh;
    width: 50vw;
    box-shadow: -10vw 0vw 20vw 4vw rgba(23, 0, 78, 0.767) inset;
    filter: blur(112px);
    z-index: 1;
}
.blur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(22px);
    z-index: 1;
}
.blur2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(22px);
    z-index: 1;
}


.img_bottom{
    top: 100vh;
    margin-top: -84px;
    position: absolute;
    overflow: hidden;
    margin-left: 5vw;
    height: 4px;
    z-index: 5;
}
.img_bottom img{
    width: 90vw;
}
/* ======================================== */



.client_game {
    top: 0;
    position: absolute;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    background-color: #2b9233;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    margin-top: 100px;
    right: 5vw;
    z-index: 5;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    transition: 0.05s;
}
.client_game p{
    width: 200px;
    padding: 10px;
}
.client_game:hover{

}
.client_game:active{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    transform: scale(0.95);
    transition: 0.05s;
}
.esports_client {

    overflow: hidden;
    top: 0;
    position: absolute;
    width: 140px;
    padding: 10px 0px 0px 40px;
    height: 50px;
    border-radius: 3px;
    background-color: #d44810;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    transition: 0.05s;
    right: 5vw;
    z-index: 5;
    line-height: 1.0;
    margin: 165px 0px 0px 30px;
}
.esports_client p{

    letter-spacing: 0.5px;
    width: 200px;
    margin: 3px 0px 0px -35px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
}
.esports_client:active{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    transform: scale(0.95);
    transition: 0.05s;
}

.anti_cheat {
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    top: 0;
    position: absolute;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    background-color: #6800c9;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    margin-top: 240px;
    right: 5vw;
    z-index: 5;
    transition: 0.05s;
    line
}
.anti_cheat p{
    padding: 10px;
    width: 200px;
} 
.anti_cheat:active{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    transform: scale(0.95);
    transition: 0.05s;
}











.name {
    position: absolute;
    margin-left: 10vw;
    margin-top: -50vh;
    color: rgb(218, 238, 255);
    font-size: 44px;
    font-weight: 900;
    z-index: 5;
}

.comments{
  
  margin-left: -10px;
 
  width: calc(100% - 20px);
  padding: 5px 25px 5px 20px;
  background-color: #7c7c7c15;
  border-radius: 15px;
  z-index: 100;
}
.disqus_thread p{
  color: rgb(196, 197, 204);
}

.questions-answer{
  line-height: 1;
    position: relative;
    max-width: 1150px;
    margin-top: 33px;
    margin-bottom: 220px;
}
.questions-answer b{
   color: rgb(184, 187, 226);
}
.name_faq {
  position: relative;
line-height: 1;
  margin-top: 0px;
  color: rgb(133, 100, 255);
  font-size: 44px;
  font-weight: 900;
  z-index: 5;
}

.questions {
    margin-top: 25px;
    position: relative;
 
    color: rgb(219, 219, 219);
    font-size: 25px;
    font-weight: 900;
    z-index: 5;
}
.answer {
  font-family:'Nunito', sans-serif;
    margin-top: 5px;
    position: relative;
    letter-spacing: 0.5px;
    color: rgb(184, 184, 184);
    font-size: 19px;
    line-height: 1.2;
    z-index: 5;
}
.answer a{
  color: rgb(147, 197, 255);
}
.answer a:hover{
   text-decoration: underline;
}
.clause {
    margin-top: 10px;
    position: relative;
 
    color: rgb(230, 230, 230);
    font-size: 17px;
    font-weight: 700;
    z-index: 5;
}
.more {
    font-family:'Nunito', sans-serif;
 
    margin-top: 5px;
    position: relative;
    letter-spacing: 0.5px;
    color: rgb(171, 176, 184);
    font-size: 15px;
    font-weight: 500;
    z-index: 5;
}

.alert {
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    font-size: 14px;
    border-radius: 7.5px;
    color: #e6e6e6;
    background-color: red;
    margin-top: 35px;
    
}
/* NEWS */
.news_block_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 17px);
    margin-top: 0px;
    padding-right: ;
}
.sections{
    font-family:'Nunito', sans-serif;
        display: flex;
    max-width: 1110px;
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0);
    margin-top: 100px;
}
.updates{
    
    position: relative;
    font-size: 20px;
    display: flex;
    min-height: 35px;
    margin: 5px;
    background-color: #525252;
    border-radius: 5px;
    color: #d6d6d6;
    width: 545px;
    min-width: 10px;
}
.updates p{
    line-height: 15px;
padding: 9px 7px 7px 7px;
}
.updates:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #383838;
}

.updates_now{
    line-height: 15px;
    cursor: default;
    display: flex;
    position: relative;
    font-size: 20px;
    min-width: 10px;
    width: 545px;
    min-height: 35px;
    margin: 5px;
    background-color: #2b9233;
    border-radius: 5px;
    color: #ffffff;
}
.updates_now p{
    padding: 9px 7px 7px 7px;
}

/* =========================================== */


.news_block{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: calc(100% - 17px);
/* 
    margin-top: 100px; */
    min-height: calc(95vh - 100px);
    margin-bottom: 5vh;
}
.news_width{
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
   
 
}
.news_content{
     
       display: flex;  
       align-items: center;
       position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    
  
    border: solid 1px rgba(131, 131, 131, 0.24);
    background-color: rgba(65, 65, 65, 0.096);
    border-radius: 15px;
    /* width: 70vw; */
     width: 100%; 
 
     height: 420px;
    z-index: 5;
}
.news_content img{
     
     width: 800px;
    margin-left: auto;
    
   max-height: 450px;
    
   z-index: 4;
}
.info{
     
    position: absolute;
    height: 420px;
    width: 400px;
    background-color: rgb(10, 10, 10, 0.9);
    box-shadow: 70px 0px 130px  30px rgba(10, 10, 10, 0.9);
    z-index: 5;
}


.participate {
    position: absolute;
    background-color: #2b9233;
    padding: 5px;
    top: 620px;
    margin-left: 800px;
    border-radius: 10px;
}


/* =============================================== */
/* ОБНВЛЕНИЯ */
    .news_content_balance{
        /* flex-direction: column; */
        margin-left: auto;
        margin-right: auto;
        margin-top:  50px;
        overflow: hidden;
        display: inline-flex;
        flex-wrap: wrap;
        border: solid 1px rgba(131, 131, 131, 0.24);
        background-color: rgba(65, 65, 65, 0.096);
        border-radius: 15px;
        /* width: 70vw; */
        max-width: 1000px; 
        min-width: 320px; 
        min-height: 50px; 
        z-index: 5;
 
    }
    .img_top {
        overflow: hidden;
         
        min-height: 450px;
        width: 100%;
        right: 0;
        z-index: 4;
    }
    .img_top img{
        margin-top: -75px;
        width: 100%;
        min-width: 10px;
        right: 0;
        z-index: 4;
    }
    .bacground_dark {
        position: absolute;
        z-index: 4;
        height: 500px;
        top:  0px;
        background-color: rgba(54, 156, 23, 0.384);
        box-shadow: 0px -400px 100px -2px rgba(0, 0, 0, 0.4) inset;
        /* width: 1100px; */
        height: 5;
    }



    .info_balance{
  
      position: relative;

        margin-top:  0px;
        /* min-height: 12px; */
 
          
        padding-right: 20px;
        padding-left: 10px;
        margin-left: 1.5vw;
        background-color: rgb(0, 0, 0);
        /* box-shadow:  0px -100px 151px 150px rgb(0, 0, 0); */
        box-shadow: 0px -30px 155px 200px rgb(0 0 0);
        z-index: 6;
    }






   .name_news b{
    
    font-size: 40px;
    color: rgb(241, 241, 241);
    
    
   }
   .name_news {
    font-family:'Nunito', sans-serif;
    font-size: 20px;
    color: rgb(131, 131, 131);
    margin: -150px 0px 0px 0px;
   }

.main_bl{
  font-family:'Nunito', sans-serif;
    margin-top: 10px;
    position: relative;
    /* margin-left: 40px; */
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 700;
    z-index: 6;
    /* padding-right: 20px; */
}
.more_bl{
    font-family:'Nunito', sans-serif;
 
    margin-top: 1px;
      margin-left: 0px;
    position: relative;
    letter-spacing: 0.5px;
    color: rgb(171, 176, 184);
    font-size: 17px;
    font-weight: 500;
    z-index: 6;
}
.bacground_dark {

}



.data_bl{
    width: 75px;
    height: 20px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #9e9e9e;
    margin-left: auto;
    margin-top:  0px;
    margin-bottom:   ;
}

@media screen and (max-width: 875px) {
  html,
  body {
    margin: 0;
    /* overflow-x: hidden; */
  }
.disqus_thread{
 
}
  .name_faq {
 
    position: relative;
    line-height: 1;
    margin-top: 0px;
    color: rgb(133, 100, 255);
    font-size: 30px;
    font-weight: 900;
    z-index: 5;
  }
  
  .questions {
      margin-top: 25px;
      position: relative;
   
      color: rgb(219, 219, 219);
      font-size: 20px;
      font-weight: 900;
      z-index: 5;
  }
  .answer {
      font-family:'Nunito', sans-serif;
      margin-top: 5px;
      position: relative;
      letter-spacing: 0.4px;
      color: rgb(184, 184, 184);
      font-size: 17px;
      line-height: 1;
      z-index: 5;
  }


  .info_balance{
    margin-top:    0px;
    box-shadow: 0px -30px 155px 200px rgb(0 0 0);
  }
  .img_top img{
    margin-top: -20px;
  }
  .img_top {
 
    min-height: 300px;
  
}
 
  .name_news {
   font-size: 20px;
   line-height: 1;
   margin-bottom: 10px;
  }
  .more_bl{
    margin-top: 0;
  
position: relative;
letter-spacing: 0.4px;

font-size: 16px;
  }

}

/* ========================================= */
/* РЕЙТИНГ */
/* .rating {
    position: absolute;
    margin-top: -290px;
    margin-left: 1350px;
    z-index: 4;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .rating:not(:checked)>input {
    display: none;
  }
  
  .rating:not(:checked)>label {
    width: 40px;
    cursor: pointer;
    font-size: 40px;
    color: lightgrey;
    text-align: center;
    line-height: 1;
  }
  
  .rating:not(:checked)>label:before {
    content: '★';
  }
  
  .rating>input:checked~label {
    color: gold;
    z-index: 337;
  }
  
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: gold;
  }
  
  .rating>input:checked+label:hover,
  .rating>input:checked+label:hover~label,
  .rating>input:checked~label:hover,
  .rating>input:checked~label:hover~label,
  .rating>label:hover~input:checked~label {
    color: gold;
  } */
  /* ========================================= */

  /* ========================================= */
@import url('https://fonts.googleapis.com/css?family=Barlow');
.block_center{
    margin-top: 30vh;
    position: absolute;
    width: 100vw;
    height: 50vh;
    z-index: 10;

}
/* body {
	background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Barlow', sans-serif;
} */
.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}
a {
	text-decoration: none;
}
h1.main, p.demos {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}
.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	/* background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7)); */
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 80px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
.sp-container h2.frame-2 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.sp-container h2.frame-3 {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	-ms-animation-delay: 7s;
	animation-delay: 7s;
}
.sp-container h2.frame-4 {
	font-size: 80px;
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}
 
.sp-container h2.frame-5 {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;

}
.sp-container h2.frame-5 span {
	-webkit-animation: blurFadeIn 3s ease-in 12s backwards;
	-moz-animation: blurFadeIn 1s ease-in 12s backwards;
	-ms-animation: blurFadeIn 3s ease-in 12s backwards;
	animation: blurFadeIn 3s ease-in 12s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span:nth-child(2) {
	-webkit-animation-delay: 14s;
	-moz-animation-delay: 14s;
	-ms-animation-delay: 14s;
	animation-delay: 14s;
}
.sp-container h2.frame-5 span:nth-child(3) {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
}

.sp-circle-link {
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -50px;
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background: rgba(43, 8, 8, 0.829);
	color: #3f1616;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 16s backwards;
	-moz-animation: fadeInRotate 1s linear 16s backwards;
	-ms-animation: fadeInRotate 1s linear 16s backwards;
	animation: fadeInRotate 1s linear 16s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.sp-circle-link:hover {
	background: #4778ff44;
	color: #fff;
}
/**/

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

/* =========================================== */



body {
    
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    z-index: 11;
}



.popup__bg {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: -50vh;
    margin-left: 100px;
    background: #fff;
    width: 400px;
    height: 270px;
    padding: 25px;
    transition: 0.3s all;
    opacity: 0;
}

.popup.active {
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 10px;
}






.download {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 20px 0px 0px 0px;
 
    background: #2982ff;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    width: 335px;
} 

.popup a {
    position: relative;

    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
 
    transition: 0.5s all;
}

.popup a:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}




/* ==================================== */
.content{
  
    position: relative;
     margin-left: auto;
     margin-right: auto;  
    max-width: 1350px;
    min-height: calc(65vh - 100px);
    margin-bottom: 5vh;
    padding: 30vh 5vw 0px 5vw;

 
    /* margin-bottom: calc(5vh - 100px); */
/*  
    border-bottom: 1px solid wheat; */
    z-index: 2;
}
.content a{

}
.footer{
    margin-top:  ;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #242424ad;
    z-index: 12;
}

 

.header__logo{
    width: 70px;
    margin-left: 50px;
    margin-top: 5px;
    margin-right: -120px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden; 
    position: relative;
    z-index: 55;
  
  }
  .header__logo img{
    justify-content: space-between;
    max-width: 80%;
     
  }


/* ==================================== */
  .container_home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animated-word {
    font-family: Helvetica;
    /* letter-spacing: 0.4em; */
    font-weight: 600;
    font-size: 90px;
    text-align: center;
    color: rgba(135, 232, 71, 0.7);
    cursor: default;
    max-width: 1100px; 
    width: 100%; 
    /* outline: 3px solid; */
    /* outline-color: rgba(71, 126, 232,0.5); */
    outline-offset: 70px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  }
  
  .animated-word:hover {
    
    color: rgba(71, 126, 232, 0.7);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
  }




  /* =============================== */
  /* footer */

  .fa-discord {
    cursor: pointer;
    color: rgb(175, 175, 175);
    font-size: 30px;
    transition: 0.5s;
    padding: 15px 10px 15px 10px;
  }
  .fa-discord:hover{
    transition: 0.2s;
    color: #7b8fffc9;
  }

  .fa-youtube {
    cursor: pointer;
    color: rgb(175, 175, 175);
    font-size: 30px;
    transition: 0.5s;
    padding: 15px 10px 15px  10px;
  }
  .fa-youtube:hover{
    transition: 0.2s;
    color: #ff2e2ec9;
  }

  .fa-vk {
    cursor: pointer;
    color: rgb(175, 175, 175);
    font-size: 30px;
    transition: 0.5s;
    padding: 15px 15px 15px 10px;
  }
  .fa-vk:hover{
    transition: 0.2s;
    color: #0e7effc9;
  }
.social_home {
    position: absolute;
    min-width: 300px;
    width: 100vw;
    max-width: 1610px;
    height: 70px;
     
    bottom: 0;
    z-index: 22;
}
  .social {
    z-index: 23;
    position: relative;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;

  }
  .social_2 {
    margin-right: 45px;
    max-width: 180px;
    position: absolute;
    right: 0;
    
  }

  /* =================================== */
  /* .button_home_now, .button_home {
    width: 0;
    position: absolute;
    opacity: 0;
  } */
  ::-webkit-scrollbar {
    background-color: #20232400;
    color: #beb6b6;
    width: 10px;
    border: solid none;
    opacity: 0;
    overflow: visible;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #454a4d85;
  }





 /* ТЕКСТ В ВЕРХНЕМ МЕНЮ */
 .button_now {
  cursor: default;
  box-sizing:border-box; 
   background-color: rgba(17, 18, 22, 0.0);
   border: none;
   padding: 0px;
   margin: 0px;
   text-align: center;
   text-decoration: none;
   display: inline-block;

   cursor: pointer;
   float: left;
   z-index: 77;
   color: #fff;
}
.button_now p{
  cursor: pointer;
  font-family:'Russo One', sans-serif;
  position: relative;
  /* list-style: none; */
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  /* font-weight: 100; */
  left: 0;
  font-weight: 700;
  width: 110px;
  margin-top: -3px;
 
}
.button, .button_top_faq {
  box-sizing:border-box; 
   background-color: rgba(0,0,0,0);
   border: none;
   padding: 0px;
   margin: 0px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   float: left;
   z-index: 77;
   color: #8e93df;
}

.button p, .button_top_faq p, .button_top_faq_now p {
  font-family:'Russo One', sans-serif;
  position: relative;
  list-style: none;
  align-items: center;
  font-size: 17px;
  left: 0;
  width: 110px;
  margin-top: -3px;
 
  justify-content: center;
}
.button_top_faq p{
  width: 80px;
}
  .button, .button_top_faq, .button_home2, .button_home{ 
 
    padding-top: 35px;
    padding-bottom: 25px;
 
  justify-content: center;
  
    
  }
  .button_now, .button_top_faq_now, .button_home2_now, .button_home2{ 
    color: white;
    font-weight: 900;
    padding-top: 35px;
    padding-bottom: 25px;
    
    
  }

  @media screen and (max-width: 875px) {
    html,
    body {
      margin: 0;
      /* overflow-x: hidden; */
    }

    .button, .button_top_faq, .button_home2, .button_home{ 
 
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .button_now, .button_top_faq_now, .button_home2_now, .button_home2{ 
      color: white;
      font-weight: 900;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .header {
      z-index: 222;
    }
    .img_bottom{
      position: absolute;
      top: 0;
      margin-top: 60px;
    }
    .button i, .button_bottom_faq i, .button_home2 i, .button_home i{ 
      font-size: 20px;
    }
    .button_now i, .button_bottom_faq_now i, .button_home2_now i, .button_home2 i{ 
      font-size: 20px;
    }
    .social_home {
      position: absolute;
      width: 100vw;
 
      height: 50px;
      
      top: 0;
      z-index: 22;
  }
    .social_2 {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      min-width: 175px;
      position: absolute;
    }


    .header__menu {
       margin-left: 0;
        
    }
    
    .header_menu h1 {
        width: 0;
        opacity: 0;
    }
    .header_menu h1:hover {
        width: 0;
        opacity: 0;
    }
    .content{
        min-height: calc(61vh - 170px);
    }
    .footer{
       padding-bottom: 70px;
    }
 
    ::-webkit-scrollbar {
        background-color: #20232400;
        color: #beb6b6;
        width: 3px;
        border: solid none;
        opacity: 0;
        overflow: visible;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #454a4d85;
      }
      .reg-data{
        margin-top: 100px;
      }
      .shadow {
        box-shadow: 0px 1px 70px 42px rgba(0, 0, 0, 0.66), -20px -90px 120px 30px rgb(0, 0, 0) inset;
      }
      .wrap1{
        margin-top: 295px;
      }
      .updates, .updates_now {
        font-size: 15px;
      }
      .sections{
        margin-top: 10px;
        margin-bottom: -79px;
        padding-left: 5px;
      }
      .header_list{ 
        font-family: 'Nunito', sans-serif;
        position: absolute ;
        background-color: #2982ff00;
         margin-left: 0px;
        /* font-size: 10px; */
         margin-top: -28px; /*ВВЕРХ ПОДНИМАЕТ ТЕКСТ МЕНЮ */
        left: -2px;
        padding: 0;
      }
      .header_list li{
        list-style: none;
        padding: 0px;
        margin: 0px 0px 0px 0px;
         align-items: center;
    }
      .open-popup{
        opacity: 0;
        width: 0;
        position: absolute;
        pointer-events:none;
      }
      .language{
        opacity: 0;
        width: 0;
        position: absolute;
      }
      .btn-group{
        justify-content: center;
        
        width: 100vw;
   
      }
     
   
    .content{
      min-height: calc(85vh - 100px);
      margin-bottom: 5vh;
      padding: 10vh 5vw 0px 5vw;
    }
    
      .header_list_home{
        font-family:'Nunito', sans-serif;
        display: flex;
        position: relative;
        z-index: 55;
        margin-right: 0;
        margin-left: 0px;
        margin-top: 22px; /*ВВЕРХ ПОДНИМАЕТ ТЕКСТ НА ГЛАВНОЙ СТР */
      }
      .header_list_home li{
          list-style: none;
          padding: 0;
          margin: 0px 0px 0px 0px;
           align-items: center;
      }
      /* ============================ */
      .header{
        border-top: solid 1px rgba(114, 114, 114, 0.288);
          overflow: hidden;
          position: fixed;
          bottom: -10px;
          height: 60px;
      }
      .header__menu{
        height:  40px;
      }
      .btn-group{
        width: 100vw;
        overflow: visible;
      }
      
      .header_list {
        font-family:'Nunito', sans-serif;
        display: flex;
        position: relative;
        z-index: 55;
        margin-right: 0;
        margin-left: 0px;
        margin-top: -10px; /*ВВЕРХ ПОДНИМАЕТ ТЕКСТ  */
      }
      .header__link, .header__link_home {
        margin-left: 0px;
        color: white; 
        text-decoration: none;
        opacity: 1;
        font-size: 13px;
      }
      .button, .button_home, .button_now, .button_bottom_faq, .button_bottom_faq_now, .button_home2 {
        box-sizing:border-box; 
        background-color: rgba(0,0,0,0);
        border: none;
        padding: auto;
        color: #8e93df;
        margin: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        float: left;
        height: 59px;
        opacity: 1;
        position: relative;
         
      }
      .button p, .button_home p,  .button_now p, .button_home2 p  {
        font-family:'Russo One', sans-serif;
        position: relative;
        list-style: none;
        align-items: center;
   
        font-size: 13px;
        width: 60px;
        height: 0px;
        /* font-weight: 100; */
        top: 0;
        left: 0;
        margin-top: 0px;
        padding:   0px 5px 10px 5px;
      }
      .button_bottom_faq p, .button_bottom_faq_now p{
        font-family:'Russo One', sans-serif;
        position: relative;
        list-style: none;
        align-items: center;
   
        font-size: 13px;
        width: 45px;
        height: 0px;
        /* font-weight: 100; */
        top: 0;
        left: 0;
        margin-top: 0px;
        padding:   0px 5px 10px 5px;
      }
      .button p:hover, .button_home p:hover, .button_home_now p:hover, .button_now p:hover, .button_bottom_faq p:hover{
        font-size: 13px;
      }
      .button_now, .button_bottom_faq_now, .button_home_now, .button_home2 {
        color: white;
      }
      .button_home:hover, .button_bottom_faq:hover, .button:hover{
        color: #ffffff;
        font-size: 13px;
      }
      .button_top_faq, .button_top_faq_now {
        width: 0;
        position: absolute;
        opacity: 0;
      }

.button_bottom_faq_now p, .button_home2 p{
  font-family: 'Default', sans-serif;
  font-weight: 900;
  font-size: 13px;
 
  line-height: 1.15;
}
    
  }

 
   




/* ============================================================== */
/* ======================================== */

.full-screen{
  border-bottom: solid 1px rgba(63, 63, 63, 0.548);
  top: 0;
  position: fixed;
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 4, 8, 0.6);
  z-index: 4;
  box-shadow: 1px -15vh 21vh 7vh rgba(10, 10, 10, 0.288) inset;
}
.full-screen__video{
position: fixed;
margin-top:  -70px;
top: 0px;
width: 100vw;
z-index: 3;
}










@media screen and (max-width: 1700px) {
html,
body {
  margin: 0;
}
.block_video{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
 
}
 
.full-screen__video{
  position: absolute;
  margin-top: 0px;
  margin-left:  0px;
  min-width: 1700px;
  z-index: 3;
}

}
@media screen and (max-width: 1000px) {
  .block_video{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 60%;
    margin-top: 15vh;
  }
  .full-screen__video{
    position: absolute;
    margin-top: 0px;
    margin-left:  0px;
    min-width: 1000px;
    z-index: 3;
  }
  .sp-circle-link {
    opacity: 0;
  }
  .sp-container h2 {
    position: absolute;
    top: 50%;
    line-height: 50px;
    height: 90px;
    margin-top: -50px;
    font-size: 50px;
     
  }

}



@media screen and (max-width: 650px) {

.block_video{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 60%;
  margin-top: 15vh;
 
}
.full-screen__video{
  position: absolute;
  margin-top: 0px;
  margin-left: -350px;
  min-width: 1000px;
  z-index: 3;
}
.sp-circle-link {
  opacity: 0;
}



.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
 
.sp-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sp-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.sp-container h2 {
  position: absolute;
  top: 50%;
  line-height: 40px;
  height: 90px;
  margin-top: -50px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-4 {
	font-size: 30px;
  line-height: 40px;
}
.header {

  background-color: #222222;  
  border-bottom: solid 1px rgba(0, 0, 0, 0.315);
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.596);
   /* 0px 40px 40px 0px rgba(0, 12, 24, 0.527) inset; */
 
}

}